@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 5rem;">
    <h1 class="display-4">UNITED Software Technologies Project</h1>
    <h2><a href="https://www.linkedin.com/in/engin-sermet-543830225/">Engin Sermet</a></h2>
</div>
